{% extends "base.html" %}

{% block content %}
<main class="px-3 text-center">
    <p class="lead text-body-emphasis">Здесь собрана и систематизирована информация из Базы Арсена Маркаряна. Основа - курс "Тестостерон релиз".</p>
    <p class="lead">В процессе создания MVP.</p>
    <p class="lead">Я не претендую на авторство и не получаю никаких шекелей с этой затеи. Сделал сайт для себя, и чтобы попрактиковаться с языком Rust</p>
    <p class="lead">
        <button href="/knowledge_base/hormones" class="btn btn-link rounded-pill px-3" type="button">База Знаний</button>
    </p>
</main>
{% endblock %}
